<a href="/">
    <img class="arrow-icon" src="../images/arrow-icon.png">  
</a>
<a href="/blog/add" aria-label="add new">
    <img class="add-icon" src="../images/add-icon.png" title="Add new">
</a>