<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %> 
    </head>
    <body>
        <main>
            <nav class="nav">
                <%- include('./partials/nav-2.ejs') %>
            </nav>
            <form id="register-form">
                <div>
                    <p class="error-text"></p>
                </div>
                <div>
                    <label for="username">username</label>
                    <input id="username" class="text-field" name="username" type="text">
                </div>
                <div>
                    <label for="pass">password</label>
                    <input id="pass" class="text-field" name="pass" type="password">
                </div>
                <div>
                    <label for="rPass">repeat password</label>
                    <input id="rPass" class="text-field" name="rPass" type="password">
                </div>
                <p class="text">Already have an account? <a href="/login" class="text underline">login</a></p>
                <input id="csToken" type="hidden" name="csrfToken" value="<%= csrf %>">
                <button class="btn" type="submit">Create account</button>
            </form>
        </main>
        <script src="./js/register.js"></script>
    </body>
</html>